.foreground-wrapper {
  width: 90%;
  background-color: #0f172a;
  padding: 1vw;
  margin-bottom: 10px;
  color: white;
  border-radius: 20px;
  border: 2px solid #1e293b;
}

/* Navbar styling */
.navbar-contianer {
  width: 100%;
  padding: 1vh;
}
.navbar-icon {
  height: 25px;
  width: 25px;
}
/* Navbar styling end */

/* chat feild styling */
.chat-body-container {
  width: 100%;
  height: 350px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #6183d4;
    border-radius: 10px; */
}
.chat-box {
  margin: 8px 5px;
  background-color: #1e293b;
  color: white;
  max-width: 250px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  font-size: medium;
}
.chat-query-box {
  align-self: flex-end;
}
.chat-response-box {
  align-self: flex-start;
}

/* error message section */
.error-message-container {
  margin: 8px 5px;
  background-color: #1e293b;
  color: white;
  border-bottom: 1px solid white;
  padding: 6px 8px;
  border-radius: 10px;
  font-size: medium;
  text-align: center;
}

/* chat input section */
.chat-input-container {
  width: 100%;
  padding: 3px;
  border: 1.5px solid #1e293b;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.chat-input-section {
  width: 65%;
  padding: 5px;
  font-size: medium;
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: white;
}
input:focus {
  outline: none;
}
.chat-submit-button {
  height: 30px;
  margin-right: 8px;
  color: white;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.chat-submit-button:hover {
  opacity: 1;
  rotate: 90;
}
.chat-submit-button img {
  width: 20px;
  height: auto;
}
/* chat feild styling end */
